{
    "Provider": "vault",
    "Config": {
        "LeafCertTTL": "72h",
        "Address": "http://myvault:8200",
        "Token": "{{VAULT_TOKEN}}",
        "RootPKIPath": "dc2/connect-root",
	"RootPKINamespace": "base/namespace1",
        "IntermediatePKIPath": "dc1/connect-intermediate",
        "IntermediatePKINamespace": "base/namespace2",
	"Namespace": "aceofbase"
    },
    "ForceWithoutCrossSigning": false
}
